.Center--container {
  flex: 4;
  height: 100vh;
  padding: 20px;
}

input {
  border: 1px solid rgb(211, 208, 208);
  width: 60%;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0px 70px 0px;
  outline: none;
  padding: 20px 30px;
}

.bold {
  font-weight: bolder;
}

.center--container--text {
  margin-bottom: 50px;
}

.center--container--barchart {
  margin: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center--container--text p {
  margin-bottom: 10px;
  font-size: 30px;
}

.center--container--card {
  display: flex;
  justify-content: space-around;
}
