* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headercolor: '#464d70';
  --greenbg: ' #e9f7f0';
  --bluebg: '#414077';
  --mediumgreenbg: '#06b56d';
  --bluedeepbg: rgb(44, 44, 233);
  --lightgreenbg: rgb(91, 238, 91);
}

h1 {
  color: var(--headercolor);
}

.App {
  display: flex;
}
